@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f3f7;
  --foreground: #171717;
  --secondColor: white;
  --navColor: #1c274c;
  --navBackground: rgba(255, 255, 255, 0.95);
  --navShadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1) inset,
    0px 2px 8px 0px rgba(255, 255, 255, 0.3);
  --navLoginButton: #f0f3ff;
  --cardDarkColor: #fff;
  --footerBg: #fff;
  --footerversion: #f2f3f7;
  --newsButton: #fff;
  --homeColor1: rgba(28, 39, 76, 0.5);
  --buyTicketButton: #191d2b;
  --homeButton2: #fff;
  --homeBoxColor: #f2f3f7;
  --loginBackground: #fff;
  --loginButton: #f1f2f6;
  --loginInput: #f1f2f6;
  --loginHr: #959ebb;
  --navBar: rgba(255, 255, 255, 0.9);
  --ticketQuantity: #1c274c80;
  --loader-background: #0065ff;
}

.dark {
  --navBar: rgba(23, 24, 37, 0.95);
  --secondColor: #2a2c3a;
  --background: #101217;
  --foreground: #fff;
  --navColor: #c9d1ed;
  --navBackground: rgba(23, 24, 37, 0.95);
  --navShadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1) inset,
    0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  --navLoginButton: #2a2c3a;
  --cardDarkColor: #191a23;
  --footerBg: linear-gradient(311deg, #1e1e1e -0.59%, #000 89.21%);
  --footerversion: #191a23;
  --newsButton: #2a2c3a;
  --homeColor1: #c9d1ed;
  --buyTicketButton: #2a2c3a;
  --homeButton2: #c9d1ed;
  --homeBoxColor: #2a2c3a;
  --loginBackground: #171825;
  --loginButton: #2a2c3a;
  --loginInput: #252633;
  --loginHr: #4a4f6d;
  --loader-background: #0065ff;
  --ticketQuantity: #1c274c80;
}

@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Organetto";
  src: url("/fonts/organetto-bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Involve;
  font-weight: 500;
}

/* custom-toast.css */
.my-toast-container {
  z-index: 99999;
}

.my-toast {
  background: #121212 !important;
  color: #fff !important;
  border-radius: 12px !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  padding: 16px !important;
  min-height: 64px !important;
  display: flex;
  align-items: center;
}

.my-toast-body {
  font-family: "Involve", sans-serif;
  font-size: 14px;
}

.my-toast-progress {
  background: linear-gradient(90deg, #00ff7f, #00c6ff) !important;
  height: 4px !important;
  border-radius: 4px;
}

.toast-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.toast {
  padding: 14px 12px;
  margin: 5px;
  border-radius: 8px;
  /* animation: fadeInOut 2s ease-in-out; */
  color: #fff;
  font-family: Involve;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  width: 315px;
}

/* Разные стили для типов уведомлений */
.toast.success {
  border-radius: 24px;
  border: 1px solid #2a2c3a;
  background: linear-gradient(135deg, #1c3d2c, #0e261b);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toast.error {
  border-radius: 24px;
  border: 1px solid #2a2c3a;
  background: linear-gradient(135deg, #502525, #3d1c1c);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toast.warning {
  border-radius: 24px;
  border: 1px solid #2a2c3a;
  background: linear-gradient(135deg, #503d2f, #2e2b23);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toastIconText {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.button {
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 50px;
  background: #2a2c3a;
  width: fit-content;
}

.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--loader-background);
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l5 1s infinite;
  z-index: 111;
}

.loaderWindow {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.4);

  transition: 0.2s;
  z-index: 9999999999999999999 !important;
}

@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}
