.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  padding: 36px;
  gap: 12px;
  margin: 0 auto;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.boxRowEventInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  gap: 5px;
}

.boxEventInfoLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 52px;
  align-items: center;
  align-self: stretch;
  border-radius: 48px;
  background: var(--cardDarkColor);
  gap: 22px;
  width: 100%;
  min-width: 250px;
  max-width: 450px;
}

.boxEventTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  text-align: center;
  font-family: Involve;
  font-style: normal;
  line-height: 100%;
}

.boxEventTitle h3 {
  color: var(--homeColor1);
  font-size: 14px;
  font-weight: 600;
}

.boxEventTitle h2 {
  color: var(--navColor);
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}

.boxEventTitle p {
  color: var(--navColor);
  font-size: 14px;
  font-weight: 600;
}

.boxEventTitle h4 {
  color: var(--navColor);
  font-size: 16px;
  font-weight: 700;
}

.boxEventPlace {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}

.boxEventBuyTicket {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.buyTicket {
  width: 100%;
  display: flex;
  height: 60px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 999px;
  background: var(--btnBackground);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.buyTicket2 {
  width: 100%;
  display: flex;
  height: 60px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 999px;
  background: var(--btnBackground);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.boxTimeLeft {
  display: flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 999px;
  background: var(--Error-Error100, #ffbbc2);
}

.boxTimeLeft p {
  color: var(--Error-Error, #ff3347);
  text-align: center;
  font-family: Involve;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin-top: 2px;
}

.boxEventInfoRight {
  display: flex;
}

.boxAboutEvent {
  display: flex;
  width: 100%;
  padding: 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  border-radius: 48px;
  background: var(--cardDarkColor);
  min-width: 280px;
}

.boxAboutEventTop {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.boxAboutEvent h1 {
  color: var(--navColor);
  width: 100%;
  font-family: Involve;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxAboutEvent h1 .actionButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.actionButton button {
  padding: 10px;
  background-color: var(--Buttonbackground);
  width: 48px;
  height: 48px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.actionButton button:disabled {
  filter: grayscale(100%);
  /* Tugmani kulrang qilish */
  opacity: 0.5;
  /* Tugmani biroz shaffof qilish */
  cursor: not-allowed;
  /* Tugma ustida ko'rsatkichni o'zgartirish */
}

.boxAboutEventTop p {
  color: var(--homeColor1);
  font-family: Involve;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.boxAboutEventTop p b {
  color: var(--homeColor1);
  font-family: Involve;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.boxRowAboutEventTop {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.boxOneInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.boxOneInfo h5 {
  color: var(--navColor);
  font-family: Involve;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.boxOneInfo h6 {
  color: var(--navColor);
  font-family: Involve;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.boxAboutEventBottom {
  padding: 10px 0;
  width: 100%;
}

/*display: grid;*/
/*align-self: stretch;*/
/*grid-template-columns: 324px 324px 324px 324px;*/
/*gap: 5px;*/
/*width: 100%;*/
/*overflow: auto;*/
.oneAboutImage {
  pointer-events: auto;
  width: 324px !important;
  height: 220px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
  flex-shrink: 0;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

.oneAboutImage:hover {
  opacity: 0.7;
}

/* Затемнение последней картинки */
.lastImage::before {
  content: "";
  position: absolute;
  border-radius: 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Текст "+4" */
.overlayText {
  color: #e0e7ff;
  font-family: Involve;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  position: relative;
  /* чтобы быть над ::before */
  z-index: 1;
}

.boxOurGuests {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.boxOurGuests h1 {
  color: var(--navColor);
  text-align: center;
  font-family: Involve;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.boxDateAndTime {
  display: flex;
  width: 100%;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 48px;
  background: var(--cardDarkColor);
}

.boxDateAndTime h1 {
  color: var(--navColor);
  font-family: Involve;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.boxOneDayTicket {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  gap: 124px;
}

.boxTicketDay {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 35%;
}

.boxcolMonth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.boxTicketDay h1 {
  color: var(--navColor);
  font-family: Involve;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.boxTicketDay h2 {
  color: var(--Error-Error, #ff3347);
  font-family: Involve;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.boxTicketDay h3 {
  color: var(--navColor);
  font-family: Involve;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.boxOneTicketInformation {
  display: flex;
  padding: 18px 18px 18px 28px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border-radius: 24px;
  background: var(--homeBoxColor);
  height: 100%;
  width: 100%;
}

.boxBeforeIncreasePrice,
.boxBeforeIncreasePriceMobile {
  display: flex;
  align-items: center;
  gap: 24px;
}

.boxBeforeIncreasePriceMobile {
  display: none;
}

.boxBeforeIncreasePrice h5,
.boxBeforeIncreasePriceMobile h5 {
  color: var(--navColor);
  font-family: Involve;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.boxBeforeIncreasePrice p {
  color: var(--Error-Error, #ff3347);
  text-align: center;
  font-family: Involve;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.boxButtonsVip {
  display: flex;
  align-items: center;
  gap: 2px;
}

.oneButtonVipActive {
  border-radius: 25px;
  border: 0.8px solid #1c274c;
  background: var(--homeButton2);
  display: flex;
  padding: 8px 24px 5px 24px;
  align-items: center;
  gap: 12px;
  color: #191d2b;
}

.oneButtonVip {
  display: flex;
  padding: 8px 24px 5px 24px;
  align-items: center;
  gap: 12px;
  border-radius: 25px;
  background: var(--homeButton2);
  border: 0.8px solid #fff;
  color: #191d2b;
}

.boxPriceAndBuyTicket {
  display: flex;
  align-items: center;
  gap: 24px;
}

.boxPriceAndBuyTicket h1 {
  color: var(--navColor);
  font-family: Involve;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.boxOneCinema {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.boxCinemaName {
  display: flex;
  align-items: center;
  gap: 22px;
}

.boxCinemaLogo {
  display: flex;
  width: 120px;
  height: 120px;
  padding: 46px 11px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 42px;
  background: #f2f3f7;
}

.boxCinemaNameAndLocation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.boxCinemaNameAndLocation h1 {
  color: var(--navColor);
  font-family: Involve;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.boxCinemaLocationText {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--navColor);
}

.boxCinemaLocation {
  display: flex;
  width: 443px;
  /* padding: 19px 28px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 24px 24px 42px 24px;
  box-shadow: 0px 0px 14px 0px #b1b6cc inset;
}

.carouselWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  width: 100%;
}

.arrow {
  background: var(--homeButton2, #666);
  border-radius: 50%;
  padding: 10px 14px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  width: 50px;
  height: 50px;
  min-width: 50px;
}

.swiperSlide {
  display: flex;
  flex-direction: column;
  height: 450px !important;
}

.oneSlide {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 450px !important;
  transition: ease-in-out 0.2s;
}

.swiperCustom {
  display: flex;
  gap: 30px;
  transition: ease-in-out 0.2s;
}
.swiperSlide:not(.hovered) {
  width: 250px !important; /* Hover qilinmagan element kengligi */
  margin: 0 120px;
  transition: ease-in-out 0.2s;
}

.hovered {
  transition: ease-in-out 0.2s;
  margin: 0 120px;
}

.hovered .boxoneSlideBackground {
  width: 500px !important; /* Element kengligini avtomatik sozlash */
  transition: ease-in-out 0.2s;
}

/* Matnni yashirish uchun boshlang'ich holat */
.boxoneSlideBackground p {
  padding-left: 270px;
  display: none;
  opacity: 0; /* Matnni ko'rinmas qilish */
  transform: translateY(70px); /* Matnni biroz pastga surish */
  transition: all 1s ease; /* Animatsiya qo'shish */
  color: var(--navColor);
  font-family: Involve;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  width: 500px !important; /* Element kengligini avtomatik sozlash */
}

/* Hover qilinganda matnni ko'rsatish */
.hovered .boxoneSlideBackground p {
  display: flex;
  opacity: 1; /* Matnni ko'rinadigan qilish */
  transform: translateY(0); /* Matnni asl holatiga qaytarish */
}

.boxoneSlideBackground {
  width: 300px;
  height: 300px !important;
  border-radius: 35px;
  background: var(--cardDarkColor);
  position: relative;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 10px;
}

.guestImg {
  position: absolute;
  z-index: 100;
  bottom: 48px;
  width: 250;
  height: 368;
}

.guestName {
  font-size: 32px;
  font-weight: 600;
  color: var(--navColor);
}

.boxButtonsVip {
  display: none;
}

.boxTicketDayMobile {
  display: none;
}

/* media */

@media screen and (max-width: 1050px) {
  .boxoneSlideBackground {
    width: 100% !important;
    padding: 10px 30px;
  }

  .boxoneSlideBackground p {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .boxOneDayTicket {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-direction: column;
    gap: 12px;
  }

  .boxPriceAndBuyTicket {
    width: 100%;
  }

  .boxTicketDayMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .boxTicketDayDesktop {
    display: none;
  }

  .boxBeforeIncreasePrice {
    display: none;
  }

  .boxBeforeIncreasePriceMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boxOneTicketInformation {
    display: flex;
    padding: 18px 0 18px 0;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    border-radius: 0;
    background: transparent;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 930px) {
  .boxOneCinema {
    flex-direction: column;
    gap: 10px;
  }

  .boxCinemaName {
    width: 100%;
  }

  .boxCinemaLocation {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .guestContent {
    flex-direction: column;
    height: 450px;
    justify-content: space-around;
    padding: 0px;
  }

  .hovered,
  .guestCard {
    width: 100% !important;
  }

  .guestHover {
    padding: 5px;
  }

  .carouselWrapper {
    gap: 0px;
  }
}

@media screen and (max-width: 768px) {
  .boxEventInfoRight {
    display: none;
  }

  .boxEventInfoLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 52px;
    align-items: center;
    align-self: stretch;
    border-radius: 48px;
    background: var(--cardDarkColor);
    gap: 22px;
    width: 100%;
    min-width: 300px;
    max-width: 100%;
  }

  /*    */
  .boxOneTicketInformation {
    flex: 1;
  }

  .boxBeforeIncreasePrice,
  .boxBeforeIncreasePriceMobile {
    flex-direction: column;
    align-items: flex-start;
  }

  .boxPriceAndBuyTicket h1 {
    font-size: 18px;
  }

  .boxAboutEvent h1 {
    font-size: 24px;
  }

  .buyTicket2 {
    width: 70% !important;
    height: 60px;

    font-size: 14px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
    gap: 10px;
    flex: 1 0 0;

    border-radius: 999px;
    background: var(--btnBackground);
    color: #fff;
  }

  .boxTicketDay {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .carouselWrapper {
    margin-top: 70px !important;
  }

  .swiperSlide:not(.hovered) {
    width: 100% !important; /* Hover qilinmagan element kengligi */
    margin: 0 120px;
    transition: ease-in-out 0.2s;
  }

  .hovered {
    transition: ease-in-out 0.2s;
    margin: 0 120px;
  }

  .hovered .boxoneSlideBackground {
    width: 100% !important; /* Element kengligini avtomatik sozlash */
    transition: ease-in-out 0.2s;
    display: flex;
  }

  .boxoneSlideBackground {
    height: 500px !important;
    justify-content: end;
    align-items: center;
    display: flex;
  }

  .oneSlide,
  .swiperSlide {
    height: 350px !important;
    margin: 30px 0 !important;
    display: flex;
  }

  .oneSlide {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .guestImg {
    position: absolute;
    top: -30px; /* carddan biroz tepada turadi */
    left: 25%;
    height: 300px;
    width: 200px;
    transition: all 0.1s ease-in-out;
    z-index: 2; /* kerak bo‘lsa boshqa elementlardan ustun bo'lishi uchun */
  }

  .hovered .boxoneSlideBackground {
    display: flex !important;
    width: 100% !important;
    opacity: 1 !important;
  }

  .hovered .boxoneSlideBackground p {
    display: flex !important;
    width: 100% !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0); /* Matnni asl holatiga qaytarish */
  }

  .boxoneSlideBackground {
    display: flex !important;
    width: 100% !important;
    opacity: 1 !important;
  }

  .boxoneSlideBackground p {
    display: flex !important;
    width: 100% !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0); /* Matnni asl holatiga qaytarish */
  }

  .guestName {
    font-size: 21px;
  }
}

@media (max-width: 550px) {
  .boxOneTicketInformation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .boxBeforeIncreasePriceMobile h5 {
    font-size: 18px;
  }

  .boxAboutEvent h1 .actionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .actionButton button {
    padding: 5px;
    background-color: var(--Buttonbackground);
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .actionButtonImg {
    width: 28px !important;
    height: 17px !important;
  }

  .oneAboutImage {
    pointer-events: auto;
    width: 180px !important;
    height: 180px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    flex-shrink: 0;
  }

  .boxcolMonth h2 {
    font-size: 16px;
  }

  .boxcolMonth h3 {
    font-size: 16px;
  }

  .boxTicketDay h1 {
    font-size: 32px;
  }

  .boxDateAndTime h1 {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .mainContainer {
    padding: 36px 10px;
  }

  .actionButtonImg {
    width: 22px !important;
    height: 13px !important;
  }

  .boxOneTicketInformation {
    flex-direction: column;
  }

  .boxPriceAndBuyTicket {
    width: 100%;
  }

  .boxPriceAndBuyTicket h1 {
    font-size: 14px !important;
    text-align: center;
  }

  .boxcolMonth h2 {
    font-size: 16px;
  }

  .boxcolMonth h3 {
    font-size: 16px;
  }

  .boxTicketDay h1 {
    font-size: 32px;
  }

  .buyTicket2 {
    width: 100% !important;
  }

  /**/
  .boxOneCinema {
    flex-direction: column;
    gap: 12px;
  }

  .boxOneCinema {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .boxCinemaNameAndLocation h1,
  .boxAboutEvent h1 {
    font-size: 21px;
  }

  .boxCinemaNameAndLocation p {
    font-size: 14px;
  }

  .boxCinemaLogo {
    display: flex;
    width: 86px !important;
    height: 46px !important;
    border-radius: 16.1px;
  }

  .guestImg {
    position: absolute;
    top: -30px; /* carddan biroz tepada turadi */
    left: 50%;
    transform: translateX(-50%);
    height: 280px;
    width: 180px;
    transition: all 0.1s ease-in-out;
    z-index: 2; /* kerak bo‘lsa boshqa elementlardan ustun bo'lishi uchun */
  }
}
