.LanguageSwitcher {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 0px 18px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
}

.LanguageModal {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 20px;
    background: var(--navBackground);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 1px rgba(255, 255, 255, 0.00) inset;
    backdrop-filter: blur(9px);
    padding: 20px;
    gap: 20px;
}

.LanguageModal button {
    color: var(--foreground);
    font-family: Involve;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;


    gap: 10px;

}

@media screen and (max-width: 845px) {
    .LanguageModal {
        right: 10px;
    }
}