.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1368px;
    gap: 4px;
    position: sticky;
    z-index: 100;
    top: 24px;
    margin: 0 auto;
}


.nav {
    display: flex;
    width: 100%;
    height: 76px;
    padding: 8px 8px 8px 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 999px;
    background: var(--navBackground);
    box-shadow: var(--navShadow);
    backdrop-filter: blur(5px);
}


.authavatar img {
    border-radius: 999px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.authavatarAdaptive img {
    border-radius: 999px;
    width: 34px;
    height: 34px;
    object-fit: cover;
}


.navleftbtns {
    display: flex;
    gap: 44px;
    align-items: center;
    align-self: stretch;
}

.boxnavleftbtns {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.navleftbutton {
    display: flex;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 999px;
}

.navleftbutton p {
    color: var(--navColor);
    font-family: Involve;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    transition: 0.3s;
    margin-top: 2px;
}


.navrightbtns {
    display: flex;
    align-items: center;
    gap: 2px;
    align-self: stretch;
}

.navrightbuttons {
    display: flex;
    padding: 0px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 999px;
}

.navrightbuttons:first-child {
    background: var(--navLoginButton);
}

.navrightbuttons p {
    color: var(--navColor);
    font-family: Involve;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.navrightbuttonLogin p {
    color: var(--navColor);
    font-family: Involve;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    transition: 0.3s;
}

.navrightbuttonLogin {
    display: flex;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 999px;
    background: var(--navLoginButton);
    transition: 0.3s;
}

.boxhandleafisha {
    display: inline-flex;
    height: 174px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    position: absolute;
    top: 0;
    width: 418px;
    margin-left: 16px;
    margin-top: 80px;
    z-index: 10000;
}

.afishainfo {
    display: flex;
    width: 152px;
    padding: 12px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.afishainfo h1 {
    color: var(--navColor);
    font-family: Involve;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.afishainfo p {
    color: #9BA4C2;
    font-family: Involve;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.verticalhr {
    width: 1px;
    height: 100%;
    background: #F0F3FF;
}

.afishatype {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 6px;
}

.oneafishatype {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 999px;
    background: #F0F3FF;
}

.oneafishatype p, .oneafishatypenotactive p {
    color: #1C274C;
    font-family: Involve;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.oneafishatypenotactive {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 999px;
    border: 1px solid #F0F3FF;
}


/**/

.navrightbuttons,
.nanlefttbuttonAdaptive {
    display: flex;
    padding: 0px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.nanlefttbuttonAdaptive {
    display: none;
}


.NavAdaptive {
    position: sticky;
    bottom: 24px;
    width: 95%;
    display: none;
    padding: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    background: var(--navBar);
    box-shadow: 0px 0px 0px 1px var(--secondColor) inset, 0px 2px 8px 0px var(--secondColor), 0px 0px 0px 1px var(--secondColor) inset;
    backdrop-filter: blur(5px);
    z-index: 100;
    margin: 0 auto;
}


.authavatarAdaptive img {
    border-radius: 999px;
    width: 34px;
    height: 34px;
    object-fit: cover;
}

@media screen and (max-width: 1260px) {
    .navrightbuttonSearch {
        width: auto;
        background: none;
    }

    .navrightbuttonSearch input {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .navleftbtns {
        gap: 0;
    }

    .navleftbutton {
        padding: 0px 14px;
    }
}

@media screen and (max-width: 950px) {
    .nav {
        height: 64px;
    }

    .navrightbuttons,
    .navrightbuttonSearch,
    .nanlefttbuttonAdaptive {
        padding: 0px 10px;
    }

    .navrightbuttonLogin {
        padding: 0px 12px;
    }

    .authavatar img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 845px) {

    .navrightbuttonLogin,
    .navrightbuttonSearch,
    .navleftbutton,
    .navrightbuttons:nth-child(1),
    .navrightbuttons:nth-child(3),
    .authavatar img {
        display: none;
    }

    .navrightbuttons {
        display: none;
    }


    .nanlefttbuttonAdaptive {
        display: flex;
    }

    .nav {
        padding: 8px;
        justify-content: space-between;
    }

    .NavAdaptive {
        display: flex;
    }
}