.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    padding: 20px 0px 20px 0px;
}

.NewsContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.newsBannerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 100%;
}

.newsBannerText img {
    width: 95%;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #1A1A1A;
    background-position: 50%;
    background-size: cover;
    object-fit: cover;
}
.newBannerImgBox{
    width: 95%;
    height: 400px;
    border-radius: 30px;
    background:var(--cardDarkColor);


}

.boxText {
    display: flex;
    gap: 20px;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.boxText h2 {
    color: var(--text);
    font-family: Involve;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    transition: 0.2s;
}

.boxText div {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    color: var(--text);
    font-family: Involve;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
    transition: 0.2s;
}

.mainContent {
    display: flex;
    width: 95%;
    max-width: 1136px;
    padding: 32px 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
    background:var(--cardDarkColor);
}

.mainContentComments {
    display: flex;
    width: 100%;
    max-width: 1136px;
    padding: 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
}

.boxInputs {
    border-radius: 30px;
    border: 1px solid var(--secondColor);
    background:var(--cardDarkColor); 
    width: 100%;
    height: 220px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.boxInputs textarea {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    border-radius: 30px;
    background: var(--secondColor);
    outline: none;
    padding: 10px;
    height: 100%;
    resize: none;
    scrollbar-width: none;
}

.buttonSend {
    display: inline-flex;
    padding: 8px;
    align-items: center;
    gap: -58px;
    border-radius: 14px;
    background: #2A2C3A;
}

.oneComment {
    display: flex;
    padding: 14px 12px;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 15px;
    background: var(--cardDarkColor);
    gap: 10px;
    width: 100%;
   
    

}

.boxComments {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.commentUserAndTime {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.commentTime {
    color: #959EBB;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: end;
}

.commentAndRaiting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 16px;
    width: 100%;
}

.commentText {
    width: 100%;
    color: var(--text);
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    word-break: break-word;
    /* Ensure long words break properly */
    overflow-wrap: break-word;
}

.commentRaiting {
    display: flex;
    align-items: center;
    gap: 8px;
}

.boxCommentRaiting {
    display: flex;
    min-width: 102px;
    padding: 8px;
    align-items: center;
    gap: 10px;
    border-radius: 14px;
    background: #F1F2F6;
    justify-content: space-between;
}

.share {
    display: flex;
    min-width: 40px;
    padding: 8px;
    align-items: center;
    border-radius: 14px;
    background: #F1F2F6;
}

.raiting {
    color: var(--Colors-Green-200, #32D47E);
    text-align: right;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.raitingred {
    color: #F82C3D;
    text-align: right;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


.raitingzero {
    color: #959EBB;
    text-align: right;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.mainContent p {
    color: var(--text);
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    transition: 0.2s;
}

.newsContentText {
    width: 100%;
    word-break: break-word;
    white-space: normal;
}

.boxLinks {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.customLink {
    color: #BA8AFF;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

.center {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 220px;

    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

}


.boxCommentsH1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.boxCommentsH1 h1 {
    color: var(--text);
    font-family: Involve;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.boxCommentsH1 p {
    color: var(--text);
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


@media screen and (width <=1200px) {
    .mainContent {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .commentUserAndTime {
        align-items: flex-start;
        gap: 5px;
    }

    .commentAndRaiting {
        flex-direction: column;
        gap: 10px;
    }

    .commentRaiting {
        justify-content: space-between;
    }

    .boxCommentRaiting {
        flex-direction: row;
        justify-content: space-between;
    }

    .commentText {
        font-size: 14px;
        /* Smaller text on small screens */
    }
}

@media screen and (width <=700px) {
    .mainContent {
        padding: 32px 24px;
    }

    .boxText h2 {
        font-size: 32px;
    }

    .boxText p {
        font-size: 16px;
    }
}

@media screen and (width <=500px) {
    .mainContent {
        padding: 32px 24px;
    }

    .mainContentComments {
        padding: 32px 22px;
    }

    .boxText {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .boxText h2 {
        font-size: 26px;
    }

    .boxText p {
        font-size: 12px;
    }

    .commentUserAndTime {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .commentUserAndTime {
        gap: 5px;
    }

    .boxCommentRaiting {
        align-items: center;
        gap: 5px;
    }

    .commentText {
        font-size: 12px;
        /* Even smaller text for very small screens */
    }
}

@media screen and (max-width: 400px) {
    .mainContentComments {
        padding: 32px 10px;
    }

    .commentUserAndTime {
        font-size: 14px;
    }
}